<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Painel ADM - Lanchonete</title>
</head>
<body>

  <header>
    <ul id="list"></ul>
  </header>
  <!-- Minhas anotações sobre essa página -->
  <!-- Antes dessa página ser carregada, surgirá um login. Só o admin poderá ter acesso. -->
  <!-- 
    Essa página será carregada já mostrando a lista de pedidos em adamento.
    Com botões para listar clientes, produtos e gerenciar produtos.
    Vai ser muito arretado implementar isso.
    Orientação de Thiago
    O painel administrativo deve conter uma autenticação básica. E através dele deverá ser possível listar Clientes e listar Pedidos, além de poder gerenciar os Produtos da lanchonete.
  
  -->

  
  <script src="../js/index.js"></script>
</body>
</html>