<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Área do cliente - Lanchonete</title>
</head>
<body>
  <header>
    <div id="userName">Cliente: Luana Piedade</div>
    <ul id="clientNavBar">
      <li>
        <a href="index.html">Sair</a>
      </li>
      <li class="selected">
        <a href="#">Histórico de Pedidos</a>
      </li>
      <li>
        <a href="#">Novo Pedido</a>
      </li>
    </ul>
  </header>
  <section>
    <ul id="ordersHistory"> </ul>
  </section>
  <script src="../js/clients.js"></script>
</body>
</html>