<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Register - Lanchonete</title>
</head>
<body>

 <div id="logo"></div>
 <section>
   <h1>Lanchonete FastFood</h1>
   <h2>Cadastramento de cliente</h2>
   <p>"Preencha seus dados"</p>
   <form id="signupForm">
      <ul>
        <li id="li_login">
          <label for="name">Nome</label>
          <input type="text" name="name" id="name">
        </li>
        <li id="li_login">
          <label for="email">E-mail</label>
          <input type="text" name="email" id="email">
        </li>
        <li id="li_login">
          <label for="fone">Fone</label>
          <input type="text" name="fone" id="fone">
        </li>
        <li id="li_login">
          <label for="address">Endereço</label>
          <input type="text" name="address" id="address">
        </li>
        <li id="li_login">
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="Digite aqui sua senha">
        </li>  
      </ul>
      <button type="submit" id="btRegister">Salvar Cadastro</button>
   </form>
 </section>
  <script src="../js/clients.js"></script>
</body>
</html>