<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Login - Lanchonete</title>
</head>
<body>

 <div id="logo"></div>
 <section>
   <h1>Lanchonete FastFood</h1>
   <h2>Seja bem vindo!</h2>
   <p>"Vamos começar pelo login"</p>
   <form id="login">
      <ul>
        <li id="li_login">
          <label for="user">Usuário</label>
          <input type="text" name="user" id="user" placeholder="Digite aqui seu usuário">
        </li>
        <li id="li_login">
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="Digite aqui sua senha">
        </li>  
      </ul>
      <button type="submit">Entrar</button>
   </form>
   <h3>Caso você seja novo por aqui...</h3>
   <button id="signUp">Cadastre-se</button>
 </section>
  <script src="../js/index.js"></script>
</body>
</html>